.container{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    color: white;
}
#slides {
    position: relative;
    /* height: 300px; */
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    width: 400px;
}
 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;

    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 .slide img,  .slide video{
    width: 400px;
    height: 300px;
    object-fit: cover;
 }
.showing {
    opacity: 1;
    z-index: 2;
}