<div class="container">
    <div class="btnStart" (click)="startSlider(0)">Start Slider</div>
    <div id="slides" >
        <div *ngFor="let item of sliderList; let i=index" [attr.id]="'slide'+i" class="slide">
            <ng-container *ngIf="item.type=='jpg'; then thenTemplate; else elseTemplate"></ng-container>
            <ng-template #thenTemplate>
                <img [attr.src]="item.url" alt="">

            </ng-template>
            <ng-template #elseTemplate>
                <video class="video" controls="controls">
                    <source  [attr.src]="item.url" type="video/mp4">
                </video>
            </ng-template>
        </div>
    </div>
</div>